.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$blue: #003366;
$red: #ff0000;
$green: #00b153;
$gray-600: #c8c8c8;

$border-radius: 4px;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

.btn-outline-secondary {
  color: #373a3c;
}

body {
  padding-top: 100px;
  background: #F2F2F2;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000000;
}

img {
  max-width: 100%;
}

.oc-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #E0E0E0;
  background: #FFFFFF;
  z-index: 8;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__toggle {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 14px 22px;
    background: #D90000;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #003366;
      text-decoration: none;
    }
  }

  &__logo {
    display: inline-block;
    margin: 0 25px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.98);
      text-decoration: none;
    }
  }

  &__current {
    display: inline-block;
    padding: 11px 20px;
    border-left: 1px solid #E0E0E0;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: normal;
    color: #003366;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #D90000;
      text-decoration: none;
    }
  }

  form {
    max-width: 575px;

    .btn {
      padding: 9px 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: normal;
      color: #FFFFFF;
    }
  }

  .form-control {
    padding: 9px;
    border: 0;
    background: #E0E0E0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #373A3C;
    text-align: center;
  }

  .btn-success {
    display: inline-block;
    margin: 0 20px;
    padding: 9px 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #FFFFFF;
  }

  &__select {
    display: inline-block;

    select {
      font-size: 14px;
      border: none;
      box-shadow: none;
      border-radius: 4px;
      background: transparent;
      cursor: pointer;
      outline: none;
      padding: 9px 15px;
      border: 1px solid #E0E0E0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: normal;
      color: #373A3C;

      // Disable ugly ass outline on firefox 
      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }

      &:focus {
        border-color: #003366;
      }
    }
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #373A3C;
    opacity: 1;
    /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #373A3C;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #373A3C;
  }
}

.oc-sidebar {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 285px;
  height: 100vh;
  overflow-y: auto;
  background: #003366;
  transform: translateX(-110%);
  transition: all 0.2s ease-out;
  z-index: 9;

  &_show {
    transform: translateX(0);
  }

  &__close {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    color: #FFFFFF;
    background: #D90000;

    img {
      display: inline-block;
      margin-right: 20px;
      padding: 8px;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #FFFFFF;

      img {
        opacity: 0.7;
      }

      text-decoration: none;
    }
  }

  &__content {
    display: block;
    width: 100%;
    padding: 20px 30px;
    color: #FFFFFF;
  }

  &__this {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &>li {
      display: block;

      &>a {
        display: block;
        list-style: none;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 30px;
        color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #D90000;
          text-decoration: none;
        }
      }
    }
  }

  &__sub {
    display: block;
    position: relative;
    width: 100%;
    max-width: 185px;
    margin: 0;
    padding: 0 0 0 20px;
    border-top: 2px solid #D90000;
    list-style: none;

    &>li {
      display: block;

      &>a {
        display: block;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 30px;
        color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #D90000;
          text-decoration: none;
        }
      }
    }
  }
}

.oc-nav {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid #E0E0E0;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__toggle {
    display: inline-flex;
    align-items: center;
    position: relative;

    img,
    svg {
      display: inline-block;
      margin-right: 7px;
    }

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #373A3C;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #D90000;
      text-decoration: none;
    }
  }

  &__this {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 3px 37px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: normal;
        color: #373A3C;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #D90000;
          text-decoration: none;
        }
      }
    }
  }
}

.oc-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 0 25px 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #999999;

  li {
    display: inline-block;

    span {
      display: inline-block;
      margin: 0 10px;

      svg,
      img {
        max-width: 16px;
        max-height: 16px;
        margin-top: -3px;
      }
    }

    a {
      display: inline;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #999999;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #D90000;
        text-decoration: none;
      }
    }
  }
}

.oc-tags {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 0 10px 0;
  list-style: none;

  li {
    display: inline-block;
  }

  &__tag {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 0 10px 10px 0;
    padding: 7px 10px;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #373A3C;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.97);
    }

    &_active {
      background: #E0E0E0;
      box-shadow: none;
      color: #373A3C;
      text-decoration: none;

      .oc-tags__close {
        display: inline-block;
      }
    }
  }

  &__close {
    display: none;
    margin-left: 10px;

    img,
    svg {
      max-width: 12px;
      max-height: 12px;
    }
  }
}

.oc-main {
  display: block;
  position: relative;
  width: 100%;
  padding: 20px 0;

  &__title {
    display: block;
    position: relative;
    margin: 0 0 20px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    color: #373A3C;
  }
}

.oc-coupon {

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 0 30px 0;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.98);
      text-decoration: none;
    }

    &-image {
      display: block;
      width: 100%;
      height: 170px;
      border-radius: 4px 4px 0 0;
      background-position: center center;
      background-size: cover;
    }

    &-info {
      display: inline-block;
      padding: 10px;
      background: #00B153;
      border-radius: 4px 0px 4px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      padding: 16px 20px 20px 20px;
    }

    &-title {
      display: block;
      height: 88px;
      overflow: hidden;
      margin: 0 0 11px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #3B3E44;
    }

    &-text {
      display: block;
      height: 40px;
      overflow: hidden;
      margin: 0 0 14px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #999999;
    }

    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #999999;
    }

    &-counter {
      display: inline-block;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #999999;
    }

    &-views {
      display: inline-flex;
      align-items: center;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: normal;
      color: #999999;

      img,
      svg {
        display: inline-block;
        max-width: 13px;
        max-height: 13px;
        margin-right: 5px;
      }
    }

    &-newprice {
      display: inline-block;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #373A3C;
    }

    &-oldprice {
      display: inline-block;
      margin: 0 0 0 8px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #373A3C;
      mix-blend-mode: normal;
      opacity: 0.6;
    }

    &-link {
      display: inline-block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #00B153;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #D90000;
        text-decoration: none;
      }
    }
  }

  &__carder {
    display: block;
    position: relative;
    width: 100%;
    max-width: 620px;
    margin: 0 0 30px 0;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.98);
      text-decoration: none;
    }

    &-image {
      display: block;
      width: 100%;
      height: 350px;
      border-radius: 4px 4px 0 0;
      background-position: center center;
      background-size: cover;
    }

    &-info {
      display: inline-block;
      padding: 10px;
      background: #00B153;
      border-radius: 4px 0px 4px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      padding: 16px 20px 20px 20px;
    }

    &-title {
      display: block;
      height: 44px;
      overflow: hidden;
      margin: 0 0 10px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: #3B3E44;
    }

    &-text {
      display: block;
      height: 20px;
      overflow: hidden;
      margin: 0 0 18px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      color: #999999;
    }

    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #999999;
    }

    &-counter {
      display: inline-block;
      margin: 0 0 0 35px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
      color: #999999;
    }

    &-views {
      display: inline-flex;
      align-items: center;
      margin: 0 0 0 35px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: normal;
      color: #999999;

      img,
      svg {
        display: inline-block;
        max-width: 13px;
        max-height: 13px;
        margin-right: 5px;
      }
    }

    &-newprice {
      display: inline-block;
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      color: #373A3C;
    }

    &-oldprice {
      display: inline-block;
      margin: 0 0 0 8px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #373A3C;
      mix-blend-mode: normal;
      opacity: 0.6;
    }

    &-link {
      display: inline-block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #00B153;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #D90000;
        text-decoration: none;
      }
    }
  }

  &__footer {
    display: block;
    position: relative;
    width: 100%;
    padding: 30px;
    border-top: 1px solid #E0E0E0;
    font-size: 16px;
    line-height: 19px;
    color: #262626;

    &-image {
      display: block;
      width: 100%;
      max-width: 180px;
      height: 100px;
      background-position: center center;
      background-size: cover;
    }

    &-text {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #262626;

      b,
      strong {
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #262626;
      }
    }
  }
}

.oc-big-title {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 60px 20px;
  background: linear-gradient(173.14deg, rgba(48, 35, 174, 0.9) 0%, rgba(200, 109, 215, 0.9) 101.5%);
  border-radius: 4px;
  color: #FFFFFF;
  text-align: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 27px;
  }
}

.oc-b {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 500px;
  margin: 0 auto 30px auto;
  padding: 0;
  background: #D8D8D8;

  img,
  svg {
    max-width: 100%;
    max-height: 100%;
  }
}

.oc-coupon {
  display: block;
  position: relative;
  width: 100%;
  max-width: 620px;
  margin: 0 0 40px 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 4px 4px;
  font-size: 18px;
  color: #3B3E44;

  &__image {
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 4px 4px 0 0;
  }

  &__info {
    display: inline-block;
    padding: 10px;
    background: #00B153;
    border-radius: 4px 0px 4px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 30px 30px 20px 30px;
  }

  b,
  strong {
    font-weight: bold;
  }

  ul {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #262626;

    li {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 8px 0;
      padding-left: 25px;

      &:before {
        display: block;
        position: absolute;
        content: '—';
        left: 0;
        top: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #262626;
      }
    }
  }

  p {
    display: block;
    margin: 0 0 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #3B3E44;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 10px 0;
    font-style: normal;
    font-weight: bold;
    color: #373A3C;
  }

  &__title {
    display: block;
    margin: 0 0 10px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #3B3E44;
  }

  &__subtitle {
    display: block;
    margin: 0 0 10px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #373A3C;
  }
}

.oc-coupon-info {
  display: block;
  position: relative;
  width: 100%;
  max-width: 560px;
  margin: 20px 0;
  padding: 30px;
  border: 1px solid #E0E0E0;

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col,
  .col-auto,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm,
  .col-sm-auto,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md,
  .col-md-auto,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg,
  .col-lg-auto,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl,
  .col-xl-auto {
    padding: 0;
  }

  .row {
    margin: 0;
  }

  &__hr {
    display: block;
    width: 1px;
    height: 100%;
    margin: 0 auto;
    background: #E0E0E0;
  }

  &__time {
    display: block;
    position: relative;
    margin: 0 0 38px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #373A3C;

    b,
    strong {
      display: block;
      margin-top: 6px;
      font-weight: bold;
    }
  }

  &__counter {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
  }

  &__price {
    display: block;
    margin: 0 0 3px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #00B153;
  }

  &__oldprice {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #373A3C;
  }

  &__profit {
    display: block;
    margin: 25px 0 0 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #9B9B9B;
  }

  &_bordered {
    position: relative;
    padding-right: 35px;

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 0;
      right: 30px;
      width: 1px;
      height: 100%;
      margin: 0 auto;
      background: #E0E0E0;
    }
  }

  .btn {
    width: 100%;
    cursor: pointer;
  }

  .btn-success {
    padding: 7px 6px;
  }

  .btn-outline-secondary {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 8px 20px;
    border-color: #E0E0E0;
    outline: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #373A3C;
    text-align: center;

    img,
    svg {
      max-width: 22px;
      max-height: 22px;
      margin-right: 20px;
    }
  }
}

.oc-pop {
  display: flex;
  align-items: center;
  position: fixed;
  top: 150px;
  right: calc((100vw - 1290px) /2);
  margin: 10px 6px 5px 5px;
  padding: 7px 20px;
  background: #00B153;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  color: #FFFFFF;
  z-index: 7;

  * {
    position: relative;
  }

  img,
  svg {
    display: inline-block;
    max-width: 30px;
    max-height: 30px;
  }

  &__info {
    display: inline-block;
    margin: 0;
    padding-left: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;

    b,
    strong {
      font-weight: bold;
      font-size: 16px;
    }
  }

  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-out;

  &:hover {
    background: #00B153;
    transform: scale(0.95);
    text-decoration: none;
  }
}

.oc-basket {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.3);
  }

  &__close {
    display: block;
    position: absolute;
    right: 30px;
    top: 24px;
    z-index: 1;

    img,
    svg {
      max-width: 32px;
      max-height: 32px;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 970px;
    margin: 10px 0;
    padding: 0;
    background: #FFFFFF;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  &__header {
    display: block;
    position: relative;
    width: 100%;
    padding: 23px 70px 23px 30px;
    border-radius: 10px 10px 0 0;
    background: #00B153;
  }

  &__title {
    display: block;
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }

  &__card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 22px 30px;
    border-bottom: 1px solid #E0E0E0;
    background: #FFFFFF;

    &-image {
      display: inline-block;
      width: 100%;
      max-width: 85px;
      height: 60px;
      background-position: center;
      background-size: cover;
      border-radius: 4px;
    }

    &-center {
      display: inline-flex;
      align-items: center;
      flex: 1 1 460px;
      padding: 0 80px 0 20px;
    }

    &-title {
      display: inline-block;
      width: 100%;
      max-width: 225px;
      max-height: 44px;
      margin: 0;
      overflow: hidden;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 22px;
      color: #373A3C;
    }

    &-delete {
      display: inline-block;
      z-index: 1;

      img,
      svg {
        max-width: 20px;
        max-height: 20px;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        text-decoration: none;
      }
    }

    &-counter {
      display: inline-flex;
      align-items: stretch;
      position: relative;

      input {
        width: 60px;
        padding: 2px 8px;
        border: 0;
        outline: none;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        color: #373A3C;
      }
    }

    &-minus,
    &-plus {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 30px;
      height: 30px;
      padding: 2px;
      border: 1px solid #E0E0E0;
      border-radius: 4px;
      background: #FFFFFF;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #373A3C;

      img,
      svg {
        max-width: 100%;
        max-height: 100%;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        background: #E0E0E0;
        color: #373A3C;
        text-decoration: none;
      }
    }

    &-what {
      display: block;
      position: absolute;
      left: 40px;
      top: 100%;
      margin-top: -5px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #373A3C;
    }
  }

  &__clear {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    padding: 30px;
    border-bottom: 1px solid #E0E0E0;

    .btn {
      padding: 10px 20px;
      border: 1px solid #E0E0E0;
      font-size: 14px;
      line-height: 19px;
      color: #999999;
    }
  }

  &__footer {
    display: flex;
    position: relative;
    width: 100%;
    padding: 30px;

    .btn {
      display: inline-flex;
      align-items: center;
      line-height: 1.5;
      font-size: 14px;

      img,
      svg {
        display: inline-block;
        max-width: 100%;
        max-height: 100%;
        margin-right: 6px;
      }

      &:first-child {
        padding: 3px 20px;
      }
    }

    .outline-secondary {
      padding: 3px 20px;
      border: 1px solid #999999;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #373A3C;
    }

    .btn-success {
      display: none;
      padding: 9px 25px;
    }
  }

  &__subtitle {
    display: block;
    margin: 0 0 19px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #373A3C;
    text-align: center;
  }

  &__label {
    display: block;
    width: 100%;
    margin: 0 0 4px 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #373A3C;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 30px;
    background: #F3F3F3;
    border-radius: 0 0 10px 0;

    .btn-success {
      margin-top: 30px;
      padding: 9px 25px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #FFFFFF;
    }

    .form-control {
      width: 100%;
      margin-bottom: 15px;
      padding-top: 15px;
      padding-bottom: 15px;
      border: 1px solid #E0E0E0;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #4A4A4A;
    }
  }

  &__checkbox {
    display: inline-block;
    position: relative;
    margin: 0 0 10px 0;
    padding: 0;

    span {
      display: inline-block;
      position: relative;
      padding-left: 30px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #373A3C;

      &:before {
        display: block;
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 20px;
        height: 20px;
        background: url('../images/assets/icon_checkbox.svg') no-repeat 0 0;
        background-size: contain;
      }
    }

    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;

      &:checked~span:before {
        background: url('../images/assets/icon_checkbox_checked.svg') no-repeat 0 0 !important;
      }
    }
  }

  &__empty {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 40px 30px;

    .btn-success {
      padding: 10px 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #FFFFFF;
    }

    &-title {
      display: block;
      margin: 0 0 40px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 27px;
      color: #373A3C;
    }

    &-image {
      max-width: 150px;
      max-width: 150px;
      margin: 0 0 20px 0;
    }
  }
}

.oc-empty {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 101;

  .oc-basket__main {
    max-width: 620px;
  }
}

.oc-help-m-0 {
  margin: 0;
}

.oc-help-p-0 {
  padding: 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1290px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  body {
    zoom: 0.9;
  }
}

@media (max-width: 1199px) {
  .oc-header__toggle {
    padding: 14px 8px;
  }

  .oc-header form {
    display: none;
  }

  .oc-header .btn-success {
    margin: 5px;
    padding: 9px 6px;
  }

  .oc-header__select select {
    padding: 9px 6px;
  }

  .oc-header__current {
    border: 0;
    padding: 11px 0;
  }

  .oc-nav {
    display: none;
  }

  .oc-header__logo {
    margin-left: 55px;
  }

  .oc-main {
    .input-group {
      flex-flow: row nowrap;
      width: 100%;
      overflow-x: auto;
    }
  }

  .oc-b {
    height: 150px;
    border-radius: 4px;
  }

  .oc-coupon {
    margin-bottom: 20px;
  }

  .oc-pop {
    right: 15px;
    margin: 5px;
    padding: 4px 8px;
  }

  .oc-coupon__carder {
    max-width: 630px;
  }
}

@media (max-width: 768px) {

  .oc-coupon {
    &__carder {
      display: block;
      position: relative;
      width: 100%;
      max-width: 300px;
      margin: 0 0 30px 0;
      background: #FFFFFF;
      border: 1px solid #E0E0E0;
      border-radius: 4px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        transform: scale(0.98);
        text-decoration: none;
      }

      &-image {
        display: block;
        width: 100%;
        height: 170px;
        border-radius: 4px 4px 0 0;
      }

      &-info {
        display: inline-block;
        padding: 10px;
        background: #00B153;
        border-radius: 4px 0px 4px 0;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #FFFFFF;
      }

      &-content {
        display: block;
        position: relative;
        width: 100%;
        padding: 16px 20px 20px 20px;
      }

      &-title {
        display: block;
        height: 88px;
        overflow: hidden;
        margin: 0 0 11px 0;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #3B3E44;
      }

      &-text {
        display: block;
        height: 40px;
        overflow: hidden;
        margin: 0 0 14px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #999999;
      }

      &-row {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #999999;
      }

      &-counter {
        display: inline-block;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #999999;
      }

      &-views {
        display: inline-flex;
        align-items: center;
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: normal;
        color: #999999;

        img,
        svg {
          display: inline-block;
          max-width: 13px;
          max-height: 13px;
          margin-right: 5px;
        }
      }

      &-newprice {
        display: inline-block;
        margin: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #373A3C;
      }

      &-oldprice {
        display: inline-block;
        margin: 0 0 0 8px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #373A3C;
        mix-blend-mode: normal;
        opacity: 0.6;
      }

      &-link {
        display: inline-block;
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #00B153;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #D90000;
          text-decoration: none;
        }
      }
    }
  }

  .oc-coupon {
    border-radius: 0;
    box-shadow: none;
  }

  .oc-coupon__image {
    height: 200px;
    border-radius: 0;
  }

  .oc-coupon__info {
    border-radius: 0;
  }

  .oc-b {
    max-width: 300px;
    height: 120px;
  }

  .oc-coupon-info_bordered:after {
    display: none;
  }

  .oc-coupon__title {
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 24px;
  }

  .oc-coupon-info__profit {
    display: inline-flex;
    margin: 0 0 10px 15px;
    font-size: 12px;
    line-height: 16px;

    br {
      display: inline;
    }

    div {
      display: inline-block;
    }
  }

  .oc-coupon-info__price {
    display: inline-block;
    margin-bottom: 10px;
  }

  .oc-coupon-info__oldprice {
    display: inline-block;
    margin-bottom: 10px;
  }

  .oc-coupon__content {
    padding: 20px 10px;
  }

  .oc-coupon-info {
    margin: 0;
    padding: 20px 0;
    border: 0;
    border-bottom: 1px solid #E0E0E0;
  }

  .oc-coupon-info .btn {
    display: inline-flex;
    align-items: center;
    max-width: 145px;
    margin: 0 0 15px 0;
    padding: 11px 20px;
    font-size: 15px;
    line-height: 1.5;
  }

  .oc-coupon-info .btn-outline-secondary {
    margin: 0 0 15px 0;
  }

  .oc-coupon-info__time b,
  .oc-coupon-info__time strong {
    display: inline;
  }

  .oc-coupon-info__time {
    margin-bottom: 8px;

    div {
      display: inline-block;
    }
  }

  .oc-coupon__subtitle {
    margin: 0 0 12px 0;
    padding-top: 20px;
    font-size: 18px;
    line-height: 21px;
  }

  .oc-coupon p {
    font-size: 14px;
    line-height: 20px;
  }

  .oc-coupon ul {
    font-size: 14px;
    line-height: 20px;
  }

  .oc-coupon__footer-image {
    max-width: 300px;
    height: 170px;
    margin: 0 auto 16px auto;
    border-radius: 4px 4px 0px 0px;
  }

  .oc-main__title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 25px;
  }

  .oc-order-first {
    order: 1;
  }

  .oc-order-last {
    order: 999;
  }

  .oc-basket__footer .btn-success {
    display: inline-block;
  }

  .oc-basket__form {
    display: none;
  }

  .oc-basket__form .btn-success {
    display: none;
  }

  .oc-basket__card-what {
    top: 0;
    left: auto;
    right: 35px;
    margin-top: 6px;
  }

  .oc-basket__card-counter input {
    padding-right: 25px;
  }

  .oc-basket__card-image {
    height: 70px;
  }

  .oc-basket__card-center {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 1 auto;
    padding: 0 20px;
  }

  .oc-basket__card-title {
    height: 32px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
  }
}